{% extends 'myapp/base.html' %}

{% block title %}{{ program.name }} - Образовательная программа{% endblock %}

{% block content %}
<div class="row">
    <div class="col-12">
        <h1 class="mb-4">{{ program.name }}</h1>
        
        <div class="card mb-4">
            <div class="card-body">
                <h5 class="card-title">О программе</h5>
                <p class="card-text">
                    <a href="{{ program.program_url }}" target="_blank" class="btn btn-primary mb-3">
                        Страница образовательной программы
                    </a>
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="card mb-4">
                    <div class="card-body">
                        <h5 class="card-title">Что я буду изучать</h5>
                        <p class="card-text">{{ program.subjects|linebreaks }}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card mb-4">
                    <div class="card-body">
                        <h5 class="card-title">Чему я научусь</h5>
                        <p class="card-text">{{ program.skills|linebreaks }}</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="card mb-4">
                    <div class="card-body">
                        <h5 class="card-title">Преимущества программы</h5>
                        <p class="card-text">{{ program.advantages|linebreaks }}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card mb-4">
                    <div class="card-body">
                        <h5 class="card-title">Перспективы после обучения</h5>
                        <p class="card-text">{{ program.prospects|linebreaks }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% if page_content %}
<div class="mt-5">
    <h2>{{ page_content.title }}</h2>
    <div class="content">
        {{ page_content.content|safe }}
    </div>
</div>
{% endif %}
{% endblock %} 